@-ms-viewport {
    width: device-width;
}

body {
    margin: 0;
}

.border-bottom {
    border-bottom: thick double cornsilk;
}

header {
    position: sticky;
    top: 0;
    background-color: cornsilk;
    text-align: center;
    align-items: center;
}

@media (min-width: 1024px) {
header, footer {
    display: flex;
    background-color: cornsilk;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
}
}


h1 a {
    text-decoration: none;
}

ul a{
    padding-right: 15px;
    font-size: 18px;
}

li {
    display: inline-block;
    
}

li a {
    text-decoration: none;
}

@media (min-width: 1024px ) {
.section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 30px;
    align-items: center;
}

.section img {
    align-items: flex-start;
    margin: 20px;
}

.section .subsection1 {
    margin: 20px;
    align-items: flex-end;
    max-width: 500px;
}
}

.section .subsection1 {
    margin: 20px;
    display: block;
    align-items: center;
    text-align: center;
}

.section img {
    max-width: 650px;
    display: block;
    margin: 20px auto;
    width: 80%;
    height: auto;
}

.subsection1, a {
    color: rgb(85, 6, 72);
}

.subsection1 a {
    font-size: 18px;
}

a:hover {
    color: rgb(248, 47, 221);
}

@media (min-width: 750px) {
.section1 {
    padding: 50px 60px 50px;
    display: flex;
    justify-content: space-evenly;
}

.gallery {
    padding: 10px;
    width: 100%;
}

.gallery img {
    width: 100%;
    height: auto;
}
}

@media (max-width: 750px) {
.gallery img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}
}

.gallery h3, .img-desc {
    text-align: center;
}

.section2 {
    background: url(running.jpeg);
    background-size: cover;
}

.section2 .dont-wait {
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    height: 500px;
    padding-top: 190px;
    box-sizing: border-box;
}

footer {
    display: flex;
    background-color: cornsilk;
    justify-content: space-between;
}

footer p {
    padding-right: 20px;
}

footer li::after {
    content: '|';
    padding-right: 10px;
}

footer li.last::after {
    content: ' ';
}
